** Assignment : Python - Data Structure **

```
# This is formatted as code
```

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they make it easier to access, modify, and process data—for example, lists, stacks, queues, and dictionaries.

2. Difference between mutable and immutable data types with examples

Mutable: Can be changed after creation. Example: list = [1,2,3] → list[0] = 10.

Immutable: Cannot be changed after creation. Example: string = "hello" → you cannot directly modify a character.

3. Differences between lists and tuples in Python

List: Mutable, uses [], slower, can be modified.

Tuple: Immutable, uses (), faster, ensures data integrity.

4. Describe how dictionaries store data

Dictionaries use hash tables internally. Keys are hashed, and values are stored at that hash index.

5. P Why might you use a set instead of a list in Python3

Sets automatically remove duplicates and allow fast membership checks.

6.What is a string in Python, and how is it different from a list3

A string is a sequence of characters (immutable). A list is a sequence of items (mutable, can hold multiple data types).

7. How do tuples ensure data integrity in Python3

Since tuples are immutable, data inside them cannot be accidentally modified.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table stores key-value pairs using hashing for fast lookup. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?

Yes. Example: [1, "hello", 3.14, True].

10. Why are strings immutable in Python?

For security (prevents accidental modification), efficiency (same object can be reused), and memory optimization.

11. What advantages do dictionaries offer over lists for certain tasks3



*   Fast lookups by keys.
*   Data stored as key-value pairs.
*   Easier to represent structured data.

12. Describe a scenario where using a tuple would be preferable over a list.

When storing constant data like coordinates (x,y) or days of the week.

13. How do sets handle duplicate values in Python3

Sets automatically remove duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?

List: Checks if value exists → 5 in [1,2,5].

Dict: Checks if key exists → "name" in {"name":"Alice"}.

15. Can you modify the elements of a tuple? Explain why or why notP

No, because tuples are immutable

16.What is a nested dictionary, and give an example of its use case?

A dictionary inside another dictionary.

student = {"name": "John", "marks": {"math": 90, "science": 85}}

17. Describe the time complexity of accessing elements in a dictionaryP

Average: O(1) due to hashing.

18.  In what situations are lists preferred over dictionaries?

When order matters.\
When data does not need a key-value structure\
For sequential storage.

19. Why are dictionaries considered unordered, and how does that affect data retrieval3

Because data is stored using hash functions, not sequentially (though Python 3.7+ maintains insertion order, it’s not the same as sorting).

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: Retrieve using index (list[2]).

Dict: Retrieve using key (dict["name"]).

**Practical Question and Answers**

In [40]:
# 1. Create a string with your name and print it
name = "Debasmita"
print(name)

Debasmita

In [41]:
# 2. Length of "Hello World"
print(len("Hello World"))

11

In [42]:
# 3. Slice first 3 characters from "Python Programming"
print("Python Programming"[:3])

Pyt

In [43]:
# 4. Convert "hello" to uppercase
print("hello".upper())

HELLO

In [44]:
# 5. Replace "apple" with "orange"
print("I like apple".replace("apple", "orange"))

I like orange

In [45]:
# 6. Create a list 1 to 5
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [46]:

# 7. Append 10 to [1,2,3,4]
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [47]:
# 8. Remove 3 from [1,2,3,4,5]
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [48]:
# 9. Access second element ['a','b','c','d']
lst = ['a','b','c','d']
print(lst[1])

b

In [49]:
# 10. Reverse list [10,20,30,40,50]
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [50]:
# 11. Tuple with 100,200,300
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [51]:
# 12. Access second-to-last element
tup = ('red','green','blue','yellow')
print(tup[-2])

blue

In [52]:
# 13. Find min in tuple
tup = (10,20,5,15)
print(min(tup))

5

In [53]:
# 14. Find index of "cat"
tup = ('dog','cat','rabbit')
print(tup.index("cat"))

1

In [54]:
# 15. Tuple of fruits, check "kiwi"
fruits = ('apple','banana','orange')
print("kiwi" in fruits)

False

In [55]:
# 16. Create set
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [56]:
# 17. Clear set
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [57]:
# 18. Remove 4 from set
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [58]:
# 19. Union of sets
s1, s2 = {1,2,3}, {3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [59]:
# 20. Intersection of sets
s1, s2 = {1,2,3}, {2,3,4}
print(s1.intersection(s2))

{2, 3}

In [60]:
# 21. Create dictionary
d = {"name":"John","age":25,"city":"New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [61]:

# 22. Add new key-value
d = {'name':'John','age':25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [62]:
# 23. Access value of "name"
d = {'name':'Alice','age':30}
print(d["name"])

Alice

In [63]:
# 24. Remove "age"
d = {'name':'Bob','age':22,'city':'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [64]:
# 25. Check if "city" exists
d = {'name':'Alice','city':'Paris'}
print("city" in d)

True

In [65]:
# 26. Create list, tuple, dict
lst = [1,2,3]
tup = (4,5,6)
d = {"a":1,"b":2}
print(lst,tup,d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [66]:
# 27. Random list 1-100 sorted
import random
lst = random.sample(range(1,101),5)
lst.sort()
print(lst)

[6, 7, 31, 33, 69]

In [67]:
# 28. List with strings, print third index
lst = ["apple","banana","cherry","date","fig"]
print(lst[3])

date

In [68]:
# 29. Combine two dictionaries
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [69]:
# 30. Convert list of strings to set
lst = ["apple","banana","apple","cherry"]
print(set(lst))

{'cherry', 'banana', 'apple'}